<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home | MBSTU Medical Center</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/icon.png" />
    <!-- Bootstrap core CSS -->
    <link href="source/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="style.css" rel="stylesheet">
    <link href="user-side-style.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">


    <script src="source/jquery/jquery.min.js"></script>
    <script src="source/bootstrap/js/bootstrap.js"></script>
    <script src="source/jquery/my_canvas.js"></script>

    <!-- <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script> -->
    <!-- <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script> -->

    <style>










    </style>


</head>

<body>




<nav class="navbar navbar-expand-lg navbar-light border-bottom fixed-top my-navbar">
    <!-- <div class="container"> -->
    <img style="width: 35px; height:35px; margin: 10px;" class="img img-responsive" src="images/icon.png" />

    <p style="
            font-family:'Times New Roman', Times, serif;
            padding: 0 15px; font-weight: 700; font-size: 18px; margin-top: 15px;">MBSTU MEDICAL CENTER</p>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="option active-option">
                <a href="/"> <i class="fa fa-home" aria-hidden="true"></i> HOME </a>
            </li>
            <li class="option">
                <a href="health"> <i class="fa fa-h-square" aria-hidden="true"></i> HEALTH </a>
            </li>
            <li class="option">
                <a href="medicine"> <i class="fa fa-medkit" aria-hidden="true"></i> MEDICINE </a>
            </li>
            <!-- <li class="option">
                <a href="#"> <i class="fa fa-info" aria-hidden="true"></i> ABOUT </a>
            </li>
            <li class="option">
                <a href="#"> <i class="fa fa-user-md" aria-hidden="true"></i> DOCTORS </a>
            </li> -->
            <li class="option">
                <a href="contact"> <i class="fa fa-volume-control-phone" aria-hidden="true"></i> CONTACT </a>
            </li>
            <li class="option">
                <a href="login-page"> <i class="fa fa-user" aria-hidden="true"></i> MY PROFILE </a>
            </li>
            <!-- <li class="nav-item active2 ">
                  <a class="nav-link2 logout-btn" href="#"> <i class="fa fa-sign-out" aria-hidden="true"></i> Logout </a>
                </li> -->

        </ul>
    </div>

    <!-- </div> -->

</nav>



<div class="banner">
    <div class=" banner-overlay">
        <div class="container">


            <h2 style="padding: 200px 50px 20px 10px; color: #fff">
                We believe that, Health is wealth. <br />
                Take care about your health.
            </h2>

            <p style="padding: 0px 50px 50px 10px; color: #fff">
                Everyone has the right to good medical care
                regardless of their <br />
                ability to pay.
            </p>


            <a href="#ourActivityAndService" class="get-start-btn">
                <b> Get Started <span class="fa fa-arrow-right"></span> </b>
            </a>

        </div>
    </div>
</div>


<div class="main-div">


    <div style="padding-bottom: 25px;" class="container">


        <h1 id="ourActivityAndService" style=" font-weight: 700;;text-align: center; padding: 100px 0px 0px 20px;
                font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
            Our Activity &
            Services
        </h1>

        <p style="text-align: center; font-size: 14px;; padding: 10px 10px; color: #999;;">
            Following activity and service provide by us. If you are a Teacher, <br> Student or Staff of MBSTU
            then
            you can get our servies.
        </p>





        <div class="row" style="text-align: center;">

            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="service-holder">
                    <i class="fa fa-rocket fa-2x" aria-hidden="true"></i>
                    <h4>Emergency Unit</h4>
                    <p>
                        We provides care for Teachers, Staffs and Students with a
                        team
                        of experts who are trained for emergency care.
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="service-holder">
                    <i class="fa fa-heartbeat fa-2x" aria-hidden="true"></i>
                    <h4>Health Care</h4>
                    <p>
                        In different ages your healthcare needs change too, you can still benefit from many
                        screening tests and we are here to help you.
                    </p>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="service-holder">
                    <i class="fa fa-user-md fa-2x" aria-hidden="true"></i>
                    <h4>Expart Doctors</h4>
                    <p>
                        Our doctors know problems inside and out,
                        they studied it, fought it and beat it,
                        thousands of people count on us to help them.
                    </p>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="service-holder">
                    <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                    <h4>Message & Prescription</h4>
                    <p>
                        If you are a registered patient then you
                        can discuss about your problem by sms and get prescription from
                        your profile.
                    </p>
                </div>
            </div>



        </div>

    </div>



    <div style="background: #F9F9FF;  padding: 60px 0px;">

        <div class="container">

            <h1 id="ourActivityAndService" style=" font-weight: 700;;text-align: center; padding: 20px 0px 0px 20px;
                    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
                Our Expart Doctors
            </h1>


            <div style="padding: 30px 0px;" class="row">

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div style="padding: 20px 10px;">
                        <div class="doctor-info-holder">
                            <img src="images/dr1.jpg" width="100%" class="img img-circle" />
                            <h6>Dr. Akram Babul</h6>
                            <p>MBBS, DMC</p>
                            <div style="padding: 10px 0px 20px 0px;" class="dr-social">
                                <a href="https://www.facebook.com/mcubesit" target="_blank">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#" target="_blank">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#" target="_blank">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div style="padding: 20px 10px;">
                        <div class="doctor-info-holder">
                            <img src="images/dr2.jpg" width="100%" class="img img-circle" />
                            <h6>Dr. Akram Babul</h6>
                            <p>MBBS, DMC</p>
                            <div style="padding: 10px 0px 20px 0px;" class="dr-social">
                                <a href="https://www.facebook.com/mcubesit" target="_blank">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#" target="_blank">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#" target="_blank">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div style="padding: 20px 10px;">
                        <div class="doctor-info-holder">
                            <img src="images/dr3.jpg" width="100%" class="img img-circle" />
                            <h6>Dr. Akram Babul</h6>
                            <p>MBBS, DMC</p>
                            <div style="padding: 10px 0px 20px 0px;" class="dr-social">
                                <a href="https://www.facebook.com/mcubesit" target="_blank">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#" target="_blank">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#" target="_blank">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div style="padding: 20px 10px;">
                        <div class="doctor-info-holder">
                            <img src="images/dr4.jpg" width="100%" class="img img-circle" />
                            <h6>Dr. Akram Babul</h6>
                            <p>MBBS, DMC</p>
                            <div style="padding: 10px 0px 20px 0px;" class="dr-social">
                                <a href="https://www.facebook.com/mcubesit" target="_blank">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#" target="_blank">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#" target="_blank">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>


        </div>

    </div>


    <style>
        .ambulance-container {
            width: 100%;
            background: url('images/ambulance.jpg') no-repeat center;
            background-size: cover;

        }

        .abbulance-overlay {
            min-height: 450px;
            /* background: #3fade473; */
        }


        .contact-info {
            position: relative;
            padding: 5px 0px;

        }

        .contact-info i {
            color: #32beffdc;
        }

        .contact-info h6 {
            margin: -23px 0px 0px 35px;
        }

        .contact-info p {
            margin: 0px 0px 0px 35px;
            font-size: 14px;
            color: rgb(131, 131, 131);
        }
    </style>



    <div style="background: #fff; padding: 30px 0px;">

        <h1 id="ourActivityAndService" style=" font-weight: 700;;text-align: center; padding: 50px 0px 50px 0px;
                font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
            Our Ambulance
            Services
        </h1>

        <div class="ambulance-container">

            <div class="abbulance-overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-8" style="padding: 80px 30px 0px 30px;">
                            <h2 style="color: #fff; ">
                                Save Your Life At First before save your money and time.
                            </h2>
                            <p style="color: #dfdfdf;">
                                Ambulance Services from MBSTU Medical Center acts as a pillar of support for
                                patients all across MBSTU . Medical Emergencies can be within minutes right through
                                phone call.
                            </p>
                        </div>
                        <div class="col-md-6 col-lg-4" style="padding: 80px 30px;">
                            <div style="padding: 0px 0px; background: #fff;
                                border-radius:3px;
                                ">
                                <h5 style="background: #3face4;color: #fff;
                                        text-align: center; padding: 15px 0px;
                                        border-radius: 3px 3px 0px 0px; font-weight: 700;">
                                    Contact
                                </h5>


                                <div style="padding: 30px 20px;">

                                    <div class="contact-info">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <h6>Call : +8801626311400</h6>
                                        <p>Sat to Thu 10am-05pm</p>
                                    </div>

                                    <div class="contact-info">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <h6>Call : +8801626311400</h6>
                                        <p>Sat to Thu 10am-05pm</p>
                                    </div>

                                    <div class="contact-info">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <h6>Call : +8801626311400</h6>
                                        <p>Sat to Thu 10am-05pm</p>
                                    </div>


                                    <div class="contact-info">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <h6>Call : +8801626311400</h6>
                                        <p>Sat to Thu 10am-05pm</p>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <div style="min-height: 800px;">

        <div class="container">



        </div>

    </div>























</div>
















<!--footer part-->

<footer class="footer-area">

    <div class="container">

        <div class="row">

            <div class="col-lg-3  col-md-4 f-col">

                <h5 class="f-title">Developers</h5>
                <ul class="dev-name">
                    <li>
                        <a th:href="${devLink_1}" target="_blank">
                            <i class="fa fa-laptop" aria-hidden="true"></i>
                            <!--<span style="color: #777777" th:text="${devName_1}"/> -->
                            [[${devName_1}]]
                        </a>
                    </li>
                    <li>
                        <a th:href="${devLink_2}" target="_blank">
                            <i class="fa fa-laptop" aria-hidden="true"></i>
                            <!--<span style="color: #777777" th:text="${devName_2}"/> -->
                            [[${devName_2}]]
                        </a>
                    </li>
                    <li>
                        <a th:href="${devLink_3}" target="_blank"> <i class="fa fa-laptop"
                                                                      aria-hidden="true"></i>
                            <!--<span style="color: #777777" th:text="${devName_3}"/>-->
                            [[${devName_3}]]
                        </a>
                    </li>
                    <li>
                        <a th:href="${devLink_4}" target="_blank"> <i
                                class="fa fa-laptop" aria-hidden="true"></i>
                            <!--<span style="color: #777777" th:text="${devName_4}"/>-->
                            [[${devName_4}]]
                        </a>
                    </li>
                </ul>
                <div class="dev-social">
                    <a th:href="${mcubesFbLink}" target="_blank">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a th:href="${mcubesTwitterLink}" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a th:href="${mcubesLinkedInLink}" target="_blank">
                        <i class="fa fa-linkedin"></i>
                    </a>

                </div>
            </div>

            <div class="col-lg-4  col-md-4 f-col">

                <h5 class="f-title">Contact Us</h5>

                <p style="color: #777777; font-size:14px; margin-top: 20px;">
                    Mawlana Bhashani Science & Technology University. Santosh, Tangail.
                </p>

                <h6 style="color: #fff" th:text="${contactNo1}"/>
                <h6 style="color: #fff" th:text="${contactNo2}"/>

                <a target="_blank" class="web-link" href="https://www.mbstu.ac.bd"><i class="fa fa-globe"
                                                                                      aria-hidden="true"></i>https://www.mbstu.ac.bd</a>
            </div>

            <div class="col-lg-5  col-md-4 f-col">
                <h5 class="f-title">Subscribe</h5>
                <div style="margin-top:20px">
                    <p style="color: #777777; font-size:14px; margin-top: 20px;">
                        Subscribe to us so that you can get health tips from our expert doctors.
                    </p>
                    <div class="subscribe-form">
                        <input class="subscribe-email"  placeholder="Your Email Address" type="email">
                        <input class="subscribe-btn" type="submit" onclick="subscribeRequest()" value="Subscribe">
                    </div>
                </div>
                </ul>
            </div>
        </div>

        <div style="text-align: center; margin-top: 10px;">
            <p style="color: #777777; font-size:13px">
                Copyright ©2019 All rights reserved by <span style="color: #32beffdc"> mCubeS </span> IT Limited
            </p>
        </div>

    </div>
</footer>




</body>
</html>